



#data{
    width: 80%;
    height: 500px;
    background-color: rgb(214, 251, 255);
    margin: 0 auto;
}


.uppr{
    width: 50%;
    margin: 5% auto;
    

}

.ediv{
    background-color: rgb(249, 254, 255);
    height: 10%;
    font-size: 1.5rem;
    width: 70%;
    margin: 2% auto;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 1.5%;
    padding-right: 1.5%;
    overflow: hidden;
}


#val{
    font-size: 0.8rem;
 
}



#txtdiv{
    width: 70%;
    overflow: auto;
}

@media only screen and (max-width: 800px) {
    .ediv {
      font-size: small;
    }
    
  }


 